<div class="container">
    <div class="profile-card js-profile-card">
        
      <div>
        <form class="row g-3" (ngSubmit)="AddProduct()" [formGroup]="productForm">
            
          <label for="productDescription" class="form-label">Choose your Product Photo</label>
          <input formControlName="productDescription" class="form-control form-control-lg" id="productDescription" type="text">
            

          <!-- <label for="inputName" class="form-label">First Name <span class="required-asterisk">*</span></label>
          <input name="firstname" formControlName="firstName"type="text" class="form-control" placeholder="Enter Your first name" required>
             -->

          <input class="form-control" type="text" formControlName="productQuantity" placeholder="Enter Your Product Quantity" aria-label="default input example">

          <input formControlName="productName" class="form-control" type="text" placeholder="Enter Your Product Name" aria-label="default input example">
          <!-- <input formControlName="productName" class="form-control" type="text" placeholder="Enter The Category Name" aria-label="default input example"> -->

          <!-- <div class="dropdown show">
            <a class="btn btn-light dropdown-toggle" (click)="toggleNav()" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             Chosse your Product Category
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" [class.show]="isOpen">
              <li><a class="dropdown-item" >Clothes</a></li>
              <li><a class="dropdown-item" >Books</a></li>
              <li><a class="dropdown-item" >Something else </a></li>
            </ul>
          </div> -->

          <!-- <div class="dropdown">

            <a class="btn btn-light dropdown-toggle" (click)="toggleNav()" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             Chosse you want Sell or Swap 
            </a>
            
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" [class.show]="isOpen">
              <li><a class="dropdown-item" >buy</a></li>
              <li><a class="dropdown-item" >Swap</a></li>
            </ul>

        </div> -->
        
        
        <div class="form-ckeck">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="" id ="" value="swap" checked/>
                  Swap
                </label>
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input " name="" id ="" value="sell" checked/>
                  Sale
                </label>
        </div>
      

        <input  id="price  " class="form-control" type="text" placeholder="Enter price" aria-label="default input example">

        <button class="button"> ADD Product </button>
        <!-- <button class="button"  routerLink="/profile"> ADD Product </button> -->
  
      </form>  
    </div>
  </div>